$fa-font-path: '/webfont';
@import url('https://unpkg.com/reset-css/reset.css');
@import './scss/fontawesome.scss';
@import './scss/regular.scss';
@import './scss//solid.scss';

button {
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
}

p:not(:first-child) {
    padding-block-start: 0.625rem;
}

.bold {
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h5 {
    font-size: 1.5rem;
    font-weight: 700;
}
